<ul>
 <li><a href="/about">About me</a></li>                                                           
 <li><a href="http://github.com/georgeredinger">GitHub</a></li>
 <li><a href="http://twitter.com/gredinger">Twitter</a></li>
</ul>
<hr/>
 <h3>Search This Site</h3>
 <div id="search"></div>
 <hr/>
 <div id="pair-with-me">
  <a href="mailto:george@georgeredinger.com" title="Pair program with me!">
        <img  src="http://pairprogramwith.me/badge.png" width="75%" height="75%"  alt="Pair program with me!" />
  </a>
 </div>
 <div id="github-badge">
     <script type="text/javascript" charset="utf-8">
       GITHUB_USERNAME = "georgeredinger";
       GITHUB_LIST_LENGTH = 10;
       GITHUB_HEAD = "div"; // e.g. change to "h2" for wordpress sidebars
       GITHUB_THEME = "white"; // try 'black'
       GITHUB_TITLE = "Georges code"
       GITHUB_SHOW_ALL = "Show all"
     </script>
     <script src="http://drnicjavascript.rubyforge.org/github_badge/dist/github-badge-launcher.js" type="text/javascript"></script>
  </div >

