body{
    font-family: Arial, "MS Trebuchet", sans-serif;
        font-size: 62.5%;
        line-height: 1.5;
        margin:0;
        padding:0;
      }

#github-badge {
    width: 250px;
    background-color:white;
    color: Silver;
    font: 'Lucida Grande', 'Trebuchet MS', Verdana, sans-serif;
    padding-bottom:0.2em;
    padding-left:0.2em;
    padding-right:0.2em;
    padding-top:0.2em;
}

#posts ul {
  font-size: 2em;
  margin:0;
  padding:0;
}
#posts ul li{
  color:Silver;
  padding: 0.1em;
}
#posts ul {
  list-style-type: none;
}
#posts ul li a {
  text-decoration: none;
  padding: 0.3em;
}


#posts h1{
  font-size: 2em;
  text-align: center;
  margin: 10px 0 5px 0;
}

a {
//  font-size: 2em;
//  text-decoration: none;
//  padding: 0.3em;
  color:silver;
}

a:hover {color:#cc0000;}



h1{
  text-align: center;
  margin: 10px 0 5px 0;
}
h2{
  margin: 0 0 10px 0;
  text-align: left;
  font-size:16px;
  color: #999;
}


p{
  margin: 0 0 10px 0;
}

//.name {
//  color: #fd771c;
//  text-shadow: #ffffff 0 1px 0;
//}
#content{
  float:left;
  width: 34em;
}

img.centered{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#footer{
  margin-bottom: 100px;
}


body,
html {
  margin:0;
  padding:0;
  color:#555;
}

#wrap {
  width:960px;
  margin:0 auto;
}

#sidebar {
  float:right;
  margin: 1em 0;
  padding:10px;
  width:250px;
}
#search {
  width:230px;
}
.gsc-control {
  width:250px
}
#sidebar ul {
  font-size: 2em;
  list-style-type:none;
  margin:0;
  padding:0;
}
#sidebar ul li{
  color:Silver;
  padding: 0.1em;
}

#sidebar ul li a {
  
  padding: 0.3em;
}

#sidebar ul li  a:hover {color:#cc0000;}

#sidebar hr { margin: 1em 0;}

#footer {
  clear:both;
}

#header {                                                                                               
  width: 930px;
  float:left;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 0em;
  padding-left: 1em;
  border-bottom: 1px solid #777;
}

#header h1{
  float:left;
   font-family: ‘Lucida Console’, Monaco, monospace;
   font-size: 4em;
}
#header h1 a {
  text-decoration: none;
  height: 1em;
  color:silver;
  float:left;
}
#header h1 a:hover {color:#cc0000;}

h1 {
  margin:0;
}
#main {
  float:left;
  width:640px;
  padding:10px;
}

#footer {
  border-top: 1px solid #777;
  clear:both;
  padding:5px 10px;
}
