<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="george redinger" />
    <meta name="description" content="george redinger code" />
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css"> 
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css"> 
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine:itallic,bold">
    <link  href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica:regular,italic" rel="stylesheet" type="text/css" >
    <title>{{ post.title }}</title>
  {% include google_ajax_search.html %} 
  </head>
<body>
  <div id="header">
   {% include header.html %}
   </div>
 <div id="wrap">
  <div id="sidebar">
   {% include sidebar.html %}
  </div>
  <div id="main">
   {{ content }}
  </div>
</div>
  <div id="footer">
   {% include footer.html %}
  </div>
 {% include google_analytics.html %}
</body>
</html>

