<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="george redinger" />
    <meta name="description" content="george redinger code" />
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css"> 
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css"> 
    <link  href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica:regular,italic" rel="stylesheet" type="text/css" >
    <title>{{ post.title }}</title>
  </head>
  <body>

  {% include google_ajax_search.html %} 
  <div ID="header">
   {% include header.html %}
  </div>
<div id="wrap">
    <div id = "sidebar">
   {% include sidebar.html %}
  </div>
  <div id="main">
        <h1>{{ post.title }}</h1>
            {{ content }}
  <div id="disqus_thread"> </div>
  </div>

    <script type="text/javascript">
      var disqus_identifier= "{{ page.url }}" ;
       (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = 'http://georgescode.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/%3Fref_noscript%3Dgeorgescode">comments powered by Disqus.</a></noscript>

        <script type="text/javascript">
          var disqus_shortname = 'georgescode';
          (function () {
              var s = document.createElement('script'); s.async = true;
                s.src = 'http://disqus.com/forums/georgescode/count.js';
                  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
              </script>

   </div>
  <div id="footer">
    {% include footer.html %}
  </div>
 </body>
</html>
